/*	_content.scss	*/

article {
	padding: .5em 0em 2em 1em;
	font-family: $ubuntu;
	font-size: 18px;
	line-height: 1.5em;
}

hr {
	width: 75%;
	border-top: 1px dashed #aaa;
}

.jumbotron {margin-bottom: 0;}
.badge {
	padding: 4px 9px !important;
	background: $medium-green;
	font-family: $oxygen;
	color: #fff;
	vertical-align: middle !important;
}