/* fonts.scss */
/*	google serif fonts	https://www.google.com/fonts#UsePlace:use/Collection:Arvo|Lora|Rokkitt */
/*	google sans fonts 	https://www.google.com/fonts#UsePlace:use/Collection:PT+Sans+Narrow|Quicksand:400,700|Ubuntu|Josefin+Sans|Oxygen:400,700 */

@import url(http://fonts.googleapis.com/css?family=Arvo|Lora|Rokkitt);
/* serifs */
$arvo: 'Arvo', serif;
$lora: 'Lora', serif;
// $rokkitt: 'Rokkitt', serif;

@import url(http://fonts.googleapis.com/css?family=PT+Sans+Narrow|Quicksand:400,700|Ubuntu|Josefin+Sans|Oxygen:400,700);
/* sans-serif */
$quicksand: 'Quicksand', sans-serif;
$ptsans: 'PT Sans Narrow', sans-serif;
$ubuntu: 'Ubuntu', sans-serif;
$josefin: 'Josefin Sans', sans-serif;
$oxygen: 'Oxygen', sans-serif;


$xlg-txt: 26px;
$lg-txt: 24px;
$md-txt: 22px;
$sm-txt: 16px;

h1, h2, h3, h4, h5, h6 {
	font-family: $josefin;
	color: #222;
}

h1 {

}
h2 {}
h3 {
	font-size: $lg-txt;
	font-weight: bold;
}
h4 {}

a {
	color: white;
}


