/* _footer.scss */

footer {
	min-height: 10em;
	margin-top: 2em;
	background: $dark-blue;
	font-family: $quicksand;
	font-size: $sm-txt;
	color: $footer-text-color;
}
.top-footer {
	padding: 1em 0 .5em 0;
	background: $light-blue;
}

footer p {}
