/* _header.scss */

.primary-menu {
	background: $slight-light-blue;
	font-family: $oxygen;
}
.primary-menu .nav a {
	color: #ededed;
	&:hover,
	&:focus {
		background: $dark-blue;
	}
}


.primary-header {
	height: 275px;
	background: $dark-blue;
	color: $light-light-blue;
}
.primary-header h1 {}

h1 small {
	margin-top: .15em;
	display: block;
}

