/* variables.scss */

/* --- globals --- */
//colors
@import "color-codes";

$light-light-blue: $color-secondary-1-1;	// #7689A9
$light-blue: $color-secondary-1-7; 			// #40659f
$slight-light-blue: $color-secondary-1-5; 	// #2C4770;
$dark-blue: $color-secondary-1-8; 			// #1c2c46

$grey-blue: $color-secondary-1-6; 			// #747F90

$light-blue-green: $color-primary-1;  		// #69969c
$medium-green: $color-secondary-2-2; 		// #4C976D
$strong-green: $color-secondary-2-3; 		// #0F5B30


/* --- fonts --- */
@import "fonts";


/* --- sections --- */
//header vars


// footer vars
$footer-text-color: white;
