/* style.scss */
/* Vendor Dependencies */
/* Authored Dependencies */
/* Modules */
/* color-codes.scss #################### */
/* typography.scss #################### */
/*	google sans fonts 	https://www.google.com/fonts#UsePlace:use/Collection:PT+Sans+Narrow|Quicksand:400,700|Ubuntu|Josefin+Sans|Oxygen:400,700 */
@import url(http://fonts.googleapis.com/css?family=PT+Sans+Narrow|Quicksand:400,700|Ubuntu|Josefin+Sans|Oxygen:400,700);
/* sans-serif */
/*-- fonts --*/
body {
  font-family: "Ubuntu", sans-serif;
  font-size: 18px;
  line-height: 1.5em; }

h1, h2, h3, h4, h5, h6 {
  font-family: "Josefin Sans", sans-serif;
  font-weight: bold; }

h1 {
  font-size: 4em; }
  h1 small {
    padding-top: .25em;
    display: block;
    font-family: "Ubuntu", sans-serif;
    font-size: 18px;
    color: #4c976d; }

h2 {
  font-size: 3.6em; }

h3 {
  font-size: 3.2em; }

h4 {
  font-size: 2.8em; }

h5 {
  font-size: 2.4em; }

h6 {
  font-size: 2em; }

article {
  margin-top: 2em;
  padding: .5em 0em 2em 1em; }
  article small {
    font-family: "Ubuntu", sans-serif;
    font-size: 25%; }
  article img {
    padding-top: 1.75em;
    padding-bottom: 1.75em; }

hr {
  width: 75%;
  margin-top: 3em;
  margin-bottom: 2em;
  border-top: 1px dashed #aaa; }

footer {
  background: #1c2c46;
  font-family: "Quicksand", sans-serif;
  font-size: 0.9em; }

footer p {
  padding: 1em 0; }

/* Partials - Elements */
/*-- bootstrap tweaks --*/
.navbar {
  margin-bottom: 0;
  border: none;
  border-radius: 0; }

.navbar-brand {
  color: #4c976d !important; }

.navbar-default {
  background: #2c4770;
  font-family: "Oxygen", sans-serif; }
  .navbar-default .navbar-nav > li a {
    color: white; }
    .navbar-default .navbar-nav > li a:hover {
      background-color: #1c2c46;
      color: #40659f; }
  .navbar-default .navbar-nav > li.active > a, .navbar-default .navbar-nav > li.active > a:hover, .navbar-default .navbar-nav > li.active > a:focus, .navbar-default .navbar-nav > li.open > a, .navbar-default .navbar-nav > li.open > a:hover, .navbar-default .navbar-nav > li.open > a:focus {
    background-color: #1c2c46;
    color: #40659f; }
  .navbar-default .navbar-collapse {
    border: none; }
  .navbar-default .navbar-nav .open .dropdown-menu {
    background-color: #1c2c46; }
    .navbar-default .navbar-nav .open .dropdown-menu > li > a {
      color: white; }
      .navbar-default .navbar-nav .open .dropdown-menu > li > a:hover, .navbar-default .navbar-nav .open .dropdown-menu > li > a:focus {
        background-color: #2c4770; }

/* navigation.scss	#################### */
/*-- post nav --*/
.post-nav-link {
  margin-top: 50em; }

.post-nav-link a {
  height: 90px;
  width: 90px;
  display: block;
  padding-top: 35px;
  text-align: center;
  border: 2px solid #1c2c46;
  border-radius: 50%; }

/* /navigation.scss	#################### */
/* Partials - Sections */
/* header.scss #################### */
.primary-header {
  min-height: 275px;
  background: #1c2c46;
  color: #7689a9; }

/* /header.scss #################### */
/* content.scss #################### */
.jumbotron {
  margin-bottom: 0; }

.badge {
  padding: 4px 9px !important;
  background: #4c976d;
  font-family: "Oxygen", sans-serif;
  color: #fff;
  vertical-align: middle !important; }

.blog-author-meta {
  padding-top: 1em;
  padding-bottom: 3em;
  background-color: #f2f5f7; }

p.blog-post-meta-category {
  margin-bottom: 0.05em;
  font-size: 70%;
  color: #222; }

p.blog-post-meta-tags {
  font-size: 70%;
  color: #40659f; }

p.blog-post-meta-category a, p.blog-post-meta-tags a {
  color: #40659f;
  font-style: normal !important; }

footer.post-author-meta {
  margin-top: 2em;
  margin-bottom: 4em;
  padding: 5px 20px;
  background: #fff;
  border: 1px solid #ccc;
  border-top: 5px solid #40659f;
  -webkit-border-radius: 8px;
  -moz-border-radius: 8px;
  -ms-border-radius: 8px;
  border-radius: 8px; }
  footer.post-author-meta img {
    margin-top: 1em;
    margin-left: 0.5em;
    padding: 3px; }
  footer.post-author-meta h4 {
    margin-top: 0.5em;
    margin-bottom: 0; }
  footer.post-author-meta p {
    margin: 0;
    padding-top: 0;
    padding-bottom: 2em; }

/* /content.scss #################### */
#sidebar {
  margin-top: 3em;
  padding: 0.5em;
  font-size: 0.7em;
  font-family: "Oxygen", sans-serif;
  line-height: 1.3em;
  border: 1px solid #0f5b30; }

.comments-container {
  padding: 2em 0 2em 2em;
  font-size: 0.9em;
  line-height: 1.3em;
  background: #79b694;
  border-bottom: 1px solid #052354; }

ol.commentlist {
  list-style-type: none; }

article.comment {
  width: 90%;
  border: 1px solid #f2f5f7; }
  article.comment img.avatar {
    padding-right: 1em; }

/* footer.scss #################### */
.top-footer {
  height: 10em;
  background: #2c4770;
  color: white; }

.bottom-footer {
  color: white; }

.bottom-footer p {
  padding: 0; }

/* /footer.scss #################### */
