/* color-codes.scss #################### */
$light-blue-green: #69969C;
$light-light-blue: #7689A9;
$slight-light-blue: #2C4770;

$grey-blue: #747F90;
$light-blue: #40659F;
$dark-blue: #1C2C46;
$dark-dark-blue: #052354;

$light-light-grey: #F2F5F7;
$basic-green: #79B694;
$medium-green: #4C976D;
$strong-green: #0F5B30;
/* /color-codes.scss #################### */