html {}
body {
	@include base-text-style;
}
h1, h2, h3, h4, h5, h6 {
	font-family: $heading-font;
	font-weight: bold;
}
h1 {font-size: $lg-txt;}
h2 {font-size: ($lg-txt * .9);}
h3 {font-size: ($lg-txt * .8);}
h4 {font-size: ($lg-txt * .7);}
h5 {font-size: ($lg-txt * .6);}
h6 {font-size: ($lg-txt * .5);}

a {}

article {
	margin-top: 3em;
	padding: .5em 0em 2em 1em;
}

hr {
	width: 75%;
	margin: 3em 0;
	border-top: 1px dashed #aaa;
}

footer {
	background: $dark-blue;
	font-family: $footer-font;
	font-size: $xsm-txt;
}

footer p {
	padding: 1em 0;
}