/* mixins.scss #################### */
@mixin base-text-style {
	font-family: $body-font;
	font-size: $body-txt;
	line-height: 1.5em;
}

@mixin border-radius($radius) {
  -webkit-border-radius: $radius;
     -moz-border-radius: $radius;
      -ms-border-radius: $radius;
          border-radius: $radius;
}
/* /mixins.scss #################### */