/* typography.scss #################### */
/*	google sans fonts 	https://www.google.com/fonts#UsePlace:use/Collection:PT+Sans+Narrow|Quicksand:400,700|Ubuntu|Josefin+Sans|Oxygen:400,700 */

@import url(http://fonts.googleapis.com/css?family=PT+Sans+Narrow|Quicksand:400,700|Ubuntu|Josefin+Sans|Oxygen:400,700);
/* sans-serif */
$quicksand: 'Quicksand', sans-serif;
$ubuntu: 'Ubuntu', sans-serif;
$josefin: 'Josefin Sans', Helvetica, sans-serif;
$oxygen: 'Oxygen', sans-serif;