/*-- fonts --*/
$heading-font: $josefin;
$body-font: $ubuntu;
$nav-font: $oxygen;
$footer-font: $quicksand;

$lg-txt: 4em;
$sm-txt: 1.1em;
$xsm-txt: 0.9em;

$body-txt: 18px;
$sidebar-txt-size: 0.7em;

// footer vars
$footer-txt-color: white;
