/* variables #################### */
/*-- fonts --*/
$heading-font: $josefin;
$body-font: $ubuntu;
$nav-font: $oxygen;
$footer-font: $quicksand;

$h1-size: 64px;
$h2-size: 57px;
$h3-size: 51px;
$h4-size: 44px;
$h5-size: 40px;
$h6-size: 30px;

$body-txt: 18px;
$xsm-txt: 12px;

// footer vars
$footer-txt-color: white;
/* /variables #################### */