/*-- fonts --*/
$heading-font: $josefin;
$body-font: $ubuntu;
$nav-font: $oxygen;
$footer-font: $quicksand;

$lg-txt: 4em;
//$lg-txt: 24px;
//$md-txt: 22px; 
$sm-txt: 1.1em;



// footer vars
$footer-text-color: white;
