/*-- bootstrap class over-writes --*/

/*-- navigation --*/
.navbar {
	margin-bottom: 0;
	border: none;
	border-radius: 0;
}

.navbar-default {}

.navbar-header {}
.navbar-brand {
	color: $medium-green !important;
}

.nabbar-toggle {}

.navbar-default {
	background: $slight-light-blue;
	font-family: $nav-font;
	.navbar-nav>li {
		a {
		color: white;
			&:hover {
				background-color: $dark-blue;
				color: $light-blue;
			}
		}
		&.active>a,
		&.active>a:hover,
		&.active>a:focus,
		&.open>a,
		&.open>a:hover,
		&.open>a:focus {
			background-color: $dark-blue;
			color: $light-blue;
		}
	} // navbar-nav li
	.navbar-collapse {
		border: none;
	}
	.navbar-nav .open .dropdown-menu {
		background-color: $dark-blue;
		>li>a {
			color: white;
			&:hover,
			&:focus{
				background-color: $slight-light-blue;	
			}
		}
	}
} // .navbar-default

/*-- body styles --*/
.jumbotron {margin-bottom: 0;}

.badge {
	padding: 4px 9px !important;
	background: $medium-green;
	font-family: $oxygen;
	color: #fff;
	vertical-align: middle !important;
}

ul.pager {
	font-size: 14px;
}

