/* comments.scss #################### */
.comments-container {
	padding: 2em 0 2em 2em;
	font-size: $xsm-txt;
	line-height: 1.3em;
	background: $medium-green;
	border-bottom: 1px solid $dark-dark-blue;
}

.comments-container h4 {}
p.post-comments {}
ol.commentlist {list-style-type: none;}
ol.commentlist li {}
article.comment {
	width: 90%;
	padding-right: 1.25em;
	padding-left: 1.25em;
	background: $basic-green;
	@include border-radius(8px);
	img.avatar {
		margin: 1em 0;
		padding-right: 0.5em;
	}
}
article.comment p {}
article.comment p a {}
span.comment-name {}
span.comment-date {}
div.comment-content {}
/* /comments.scss #################### */