/* navigation.scss	#################### */

/*-- post nav --*/
.post-nav-link {
	margin-top: 50em;
}
.post-nav-link a {
	height: 90px;
	width: 90px;
	display: block;
	padding-top: 35px;
	text-align: center;
	border: 2px solid $dark-blue;
	border-radius: 50%;
}
/* /navigation.scss	#################### */